<h2>Liste des Notes</h2>
<a href="{% url 'ajouter_note' %}">Ajouter une note</a>
<table>
  <tr>
    <th>Étudiant</th>
    <th>Matière</th>
    <th>Note</th>
    <th>Mention</th>
    <th>Actions</th>
  </tr>
  {% for note in notes %}
    <tr>
      <td>{{ note.etudiant }}</td>
      <td>{{ note.matiere }}</td>
      <td>{{ note.note }}</td>
      <td>{{ note.mention }}</td>
      <td>
        <a href="{% url 'modifier_note' pk=note.pk %}">Modifier</a>
        <a href="{% url 'supprimer_note' %}?id={{ note.pk }}">Supprimer</a>
      </td>
    </tr>
  {% endfor %}
</table>
